.card{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.card__block{
    padding: 18px 20px 30px;
    height: 150px;
}

.card__title{
    font-weight: 700;
    font-size: 22px;
    color: #e6e0bf;
    line-height: 1.35;
    text-align: left;
    margin: 0;
}

.card__price{
    font-size: 20px;
    color: #c7c7c7;
    font-weight: 700;
    margin: 0;
    margin-top: 12px;
}

.card__subtitle{
    font-size: 16px;
    line-height: 1.25;
    color: #e6e0bf;
    font-weight: 300;
    margin: 0;
    padding: 0;
    margin-top: 12px;
}

.card__image{
    width: 300px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 50px;
    margin: 0 auto;
}