.header-block{
    padding: 0;
    margin: 0 auto;
    color: white;
}

.header-block__image{
    object-fit: cover;
    object-position: center;
    height: 257px;
    width: 100%;
    margin: 0 auto;
}

.header-block__title{
    margin: 0;
    font-size: 30px;
    color: white;
    line-height: 1.17;
    text-transform: uppercase;
    padding: 0 20px;
    margin: 30px auto;
    text-align: center;
}


